/* Hoja de estilo elaborada e implementada por @pelombelom para @sinorigened. Aquí verás todo el esqueleto para para que puedas disfrutar nuestros libros.Esperamos lo disfrutes. Cualquier comentario, cambio o bug que encuentres, puedes escribirnos a: sinorigened@gmail.com.
El trabajo que realizamos en Sin Origen es por un gusto culposo a la rebeldía, a la autocrítica y al DIY. Desde aquí, y a partir de nuestros libros, nos enfocamos a que la información se encuentre accesible, No podemos seguir con una línea paternalista de qué sí y qué no puede ver la gente. La información no daña,y debe ser compartida.
Como editorial y librería, debemos tener ciertos gastos, pero los dos centros de funcionamiento son el pago de regalías para el autor, y el mantenimiento de nuetra librería. Por eso vendemos epubs y no archivos.         */
h1, h2, h3, h4, h5, h6 {
  -epub-hyphens: none;
}
div.tt {
  width: 75%;
}
p.tit {
  font-family: "8BITWONDERNominal";
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 15px;
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
  overflow: auto;
  text-align: center
}

h1 {
  margin-top: 2.5em;
  font-size: 40px;
}

p {
  font-family: serif;
  font-size: 15px;
  line-height: 15pt;
  margin: 0;
  text-align: justify;
}
body {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
  font-family: sans-serif;
  overflow: auto;
}
a {
  text-decoration: none;
  color: green;
}
div.legal {
 margin-top: 100px;
 margin-left: 50px;
  
}
li.inst {
  font-family: sans;
  font-size: 15px;
  line-height: 15pt;
  margin: 0;
  text-align: justify;
}
.list {
  margin-top: 60px;
  margin-left: 25px;
  margin-bottom: 50px;
  font-family: sans
  
}
div.fuente p {
  margin-top: 50px;
  margin-left: 60px;
  text-align: right;
}
/* Aquí veremos cómo funciona la parte multimedia del libro. */
/* El contenedor con el padding top crea el tamaño del video */
.contenedor {
  text-align: center;
  height: 0;
  width: 100%;
  max-width: 560px;
  padding-top: 65.25%;
  /* relación: 16/9 = 56.25%  */
  position: relative;
  /* para centrado se deja así */
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
iframe {
  /*se adapta al tamaño del contenedor  */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
div.videocaja{
  margin-top: 15px;
  margin-bottom: 15px;
  }
/* ---- traductor ---- */
#otherpost, #esp {
  display: none;
}
.center {
  position: relative;
  text-align: center;
}
.boton {
  padding: 5px 10px;
  borderradius: 7px;
  cursor: pointer;
  width: 75%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}
/* ---- grid ---- */
div.grid {
  width: 90%;
  text-align: center;
margin-left: 40px;
margin-top: 15px;
margin-bottom: 15px;
}

img {
width:90%;
}
img.log {
  width: 10%;
}
img.imgbio {
  width: 80%;
  height: auto;
  display: relative;
  margin-left: 0px;
  margin-right: auto;
  padding-top: 1em;
}
div.image {
  width: auto;
  height: auto;
  display: relative;
  margin-left: auto;
  margin-right: auto;
}
/*  Gracias a @intratextual por todo el apoyo y conocimiento que ha aportado para lograr que esto sea impecable  */