/* Hoja de estilo elaborada e implementada por @pelombelom para @sinorigened. Aquí verás todo el esqueleto para para que puedas disfrutar nuestros libros.Esperamos lo disfrutes. Cualquier comentario, cambio o bug que encuentres, puedes escribirnos a: sinorigened@gmail.com.
El trabajo que realizamos en Sin Origen es por un gusto culposo a la rebeldía, a la autocrítica y al DIY. Desde aquí, y a partir de nuestros libros, nos enfocamos a que la información se encuentre accesible, No podemos seguir con una línea paternalista de qué sí y qué no puede ver la gente. La información no daña,y debe ser compartida.
Como editorial y librería, debemos tener ciertos gastos, pero los dos centros de funcionamiento son el pago de regalías para el autor, y el mantenimiento de nuetra librería. Por eso vendemos epubs y no archivos.         */
h1, h2, h3, h4, h5, h6 {
  -epub-hyphens: none;
}
div.tt{
  width: 100%;
}
p.tit {
  font-size: 40px;
  font-family: sans;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
  overflocenw: auto;
}
h1 {
  margin-top: 2.5em;
  font-size: 40px;
}
.tit1 {
  font-size: 60px;
  font-family: serif;
  margin-top:20px;
  margin-left:80px;
  margin-right:15px;
  text-align: center;
}
  
h2.titp{
  margin-top: 2.5em;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
}
  
p {
  font-family: sans;
  font-size: 15px;
  line-height: 15pt;
  margin: 0;
  text-align: justify;
}
li {
  font-family: serif;
  font-size: 15px;
  line-height: 15pt;
  margin: 0;
  text-align: justify;
}
li.inst {
  font-family: sans;
  font-size: 15px;
  line-height: 15pt;
  margin: 0;
  text-align: justify;
}
span.tab2{
margin-left: 160px;
}
span.tab1{
margin-left: 80px;
}
p.primer{
margin-top: 20px;
}
div.poema{
  margin-top: 60px;
  margin-left: 25px;
  margin-bottom: 50px;
  }
div.legal {
 margin-top: 100px;
 margin-left: 50px;
  
}
.list {
  margin-top: 60px;
  margin-left: 25px;
  margin-bottom: 50px;
  font-family: sans
  
}
div.fuente p {
  margin-top: 50px;
  margin-left: 60px;
  text-align: right;
}
.right p.primer{
  text-align: right;
}
.center p.primer{
  text-align: center;
}
body {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
  font-family: sans-serif;
  overflow: auto;
}
a {
  text-decoration: none;
  color: green;
}
/* Aquí veremos cómo funciona la parte multimedia del libro. */
/* El contenedor con el padding top crea el tamaño del video */

/* ---- grid ---- */
.grid {
  text-align: center;
  width: 80%;
  max-width: 360px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 15px;
}
img.log {
  width: 10%;
}
img.gif {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 15px;
}
/*  Gracias a @intratextual por todo el apoyo y conocimiento que ha aportado para lograr que esto sea impecable  */
